.container{
    border: 5px solid yellow;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1px;
    height: 500px;
    max-width: 500px;
}

.divContainer{
    background-color: black;
    flex: 1;
}

.outer-container{
    align-items: center;
    display: flex;
    flex-grow: 0;
    justify-content: center;
}

.row{
    background-color: aqua;
    display: flex;
    gap: 1px;
    height: auto;
    width: 100%;
}

